---
BasedOnStyle:  WebKit
#ColumnLimit: 140
Standard: Cpp11
Cpp11BracedListStyle: true
IncludeCategories:
  - Regex: '^"trompeloeil_catch.h'
    Priority:        1
  - Regex:           '^<'
    Priority:        2
  - Regex:           '.*'
    Priority:        3
IncludeIsMainRegex: '__disabled__feature__$'
NamespaceIndentation: None
MaxEmptyLinesToKeep: 2
AlwaysBreakTemplateDeclarations: true
AlignEscapedNewlinesLeft: true
AlignAfterOpenBracket: Align
BinPackArguments: false
BinPackParameters: false
...
