[submodule "submodules/Catch"]
	path = submodules/Catch
	url = ../../github/philsquared/Catch
[submodule "submodules/trompeloeil"]
	path = submodules/trompeloeil
	url = ../../github/rollbear/trompeloeil
[submodule "submodules/docopt.cpp"]
	path = submodules/docopt.cpp
	url = ../../github/docopt/docopt.cpp
[submodule "submodules/spdlog"]
	path = submodules/spdlog
	url = ../../github/gabime/spdlog
[submodule "submodules/boost"]
	path = submodules/boost
	url = ../../github/boostorg/boost
