[project]
	description = A NETCONF-talking CLI
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	read = group CzechLight.netconf-cli.developers
[access "refs/for/*"]
	addPatchSet = group CzechLight.netconf-cli.developers
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group CzechLight.netconf-cli.developers
	label-Verified = -1..+1 group CESNET CI
	submit = group CzechLight.netconf-cli.developers
[access "refs/tags/*"]
	pushTag = group CzechLight.netconf-cli.developers
	pushAnnotatedTag = group CzechLight.netconf-cli.developers
	pushSignedTag = group CzechLight.netconf-cli.developers
[Label "Verified"]
	function = MaxWithBlock
	value = -1 Fails
	value =  0 No score
	value = +1 Verified
	defaultValue = 0
