[project]
	description = A NETCONF-talking CLI
[access]
	inheritFrom = CzechLight/acl
[access "refs/*"]
	read = group CzechLight.netconf-cli.developers
[access "refs/for/*"]
	addPatchSet = group CzechLight.netconf-cli.developers
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group CzechLight.netconf-cli.developers
	submit = group CzechLight.netconf-cli.developers
[access "refs/tags/*"]
	pushTag = group CzechLight.netconf-cli.developers
	pushAnnotatedTag = group CzechLight.netconf-cli.developers
	pushSignedTag = group CzechLight.netconf-cli.developers
[notify "developers"]
	email = group CzechLight.netconf-cli.developers
